{% extends 'CajaBancoBackendBundle::base.html.twig' %}
{% block content %} 
     {# Este el el dialogo de edicion #}  
    <div id="dialog_form" title="Editar Banco">
    <p>Atengase a los requerimientos.</p>  
    <form id="formID" action="{{path('banco_editar',{'id':banco.id})}}" method="post" {{ form_enctype(edit_form) }} class="formulario">
            {{ form_errors(edit_form) }}   

            {{ form_row(edit_form.nombre)}} 
            {{ form_row(edit_form.ruc)}}
            {{ form_row(edit_form.direccion)}}
            {{ form_row(edit_form.ciudad)}}
            {{ form_row(edit_form.telefono)}}
            {{ form_row(edit_form.email)}}

            {{ form_rest(edit_form) }}         
            <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <a class="button medium inset" href="{{ path('banco_main') }}">Cancelar</a> 
            </div>
    </form>
    </div>   
{% endblock content%}
    
{% block javascripts %}
    {{parent()}} 
    <script>    
        jQuery(document).ready(function(){
             //Dialogo de Edicion
           $( "#dialog_form" ).dialog({
                autoOpen: true,
		height: 480,
		width: 350,
		modal: true,
                resizable:false,
		close: function() {
                    allFields.val( "" ).dialog("close");
		}
            });	
            $("a.ui-dialog-titlebar-close" ).hide();           
            
            //Focus, Validaciones 
            $("#banco_form_nombre").focus;
            $("#banco_form_nombre").addClass("validate[required]");
            $("#banco_form_ruc").addClass("validate[required]");
            $("#banco_form_direccion").addClass("validate[required]");
            $("#banco_form_telefono").addClass("validate[required[custom[phone]]");
            $("#banco_form_email").addClass("validate[required,custom[email]]"); 
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"});   
	});
    </script>  
{% endblock javascripts %}