{% block content %}    
    <form id="formID" action="{{ path('banco_insertar') }}" method="post" {{ form_enctype(form) }} class="formulario">
        {{ form_errors(form) }}   
        {{ form_row(form.nombre)}} 
        {{ form_row(form.ruc)}}
        {{ form_row(form.direccion)}}
        {{ form_row(form.ciudad)}}
        {{ form_row(form.telefono)}}
        {{ form_row(form.email)}}

        {{ form_rest(form) }}         
        <div class="center">
           <button  type="submit" class="medium inset">Guardar</button> 
           <button id="cancelar" class="medium inset">Cancelar</button> 
        </div>
    </form> 
{% endblock content%}    
{% block javascripts %}   
    <script>    
        jQuery(document).ready(function(){
           //Focus, Validaciones 
            $("#banco_form_nombre").focus;
            $("#banco_form_nombre").addClass("validate[required]");
            $("#banco_form_ruc").addClass("validate[required]");
            $("#banco_form_direccion").addClass("validate[required]");
            $("#banco_form_telefono").addClass("validate[required[custom[phone]]");
            $("#banco_form_email").addClass("validate[required,custom[email]]"); 
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"});  
	});
    </script>          
{% endblock javascripts%}

