{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block stylesheets %}  
    {{parent()}} 
    <link href="{{ asset('css/abm_banco.css') }}" type="text/css" rel="stylesheet" /> 
    <link href="{{ asset('validationEngine/css/validationEngine.jquery.css') }}" type="text/css" rel="stylesheet" /> 
    
{% endblock %}
    
{% block content %} 
    <h3 class="content_title">Bancos</h3> 

    <fieldset>
    <legend>Nuevo</legend>
    <form id="formID" action="{{ path('banco_insertar') }}" method="post" {{ form_enctype(form) }} class="inline_form">
            {{ form_errors(form) }}   

            {{ form_row(form.nombre)}} 
            {{ form_row(form.ruc)}}
            {{ form_row(form.direccion)}}
            {{ form_row(form.ciudad)}}
            {{ form_row(form.telefono)}}
            {{ form_row(form.email)}}

            {{ form_rest(form) }}         
            <div>
                <button  type="submit" class="medium blue pill">Insertar</button>        
                <a href="{{ path('index') }}">
                    <span class="icon large red tooltip" title="Cancelar" style="padding:5px 0px 0px 10px;" data-icon="X"></span>
                </a>
            </div>
        </form>
    </fieldset>
    {# Se renderiza el listado llamando al controlador #}   
    {% render "CajaBancoBackendBundle:Banco:listar"%} 
   
{% endblock content%}
    
{% block javascripts %}
    {{parent()}} 
    <script src="{{ asset('validationEngine/js/jquery.validationEngine.js') }}"></script> 
    <script src="{{ asset('validationEngine/js/languages/jquery.validationEngine-es.js') }}"></script> 
    <script>    
        jQuery(document).ready(function(){
            $("#banco_form_nombre").addClass("validate[required]");
            $("#banco_form_ruc").addClass("validate[required]");
            $("#banco_form_direccion").addClass("validate[required]");
            $("#banco_form_telefono").addClass("validate[required[custom[phone]]");
            $("#banco_form_email").addClass("validate[required,custom[email]]");        
            
            // binds form submission and fields to the validation engine
            jQuery("#formID").validationEngine('attach');
	});
    </script>  
        
{% endblock javascripts%}

