{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block content %} 
    <h3 class="content_title left">Bancos</h3>
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>Nombre</th>
		<th>Ruc</th>
                <th>Direccion</th>
                <th>Ciudad</th> 
		<th>Telefono</th>
                <th>Email</th>                                                     
            </tr>
	</thead>
	<tbody>
            {% for banco in bancos %}
            <tr>
               <td>{{ banco.nombre }}</td>
                <td>{{ banco.ruc }}</td>
                <td>{{ banco.direccion}}</td>
                <td>{{ banco.ciudad }}</td> 
                <td>{{ banco.telefono }}</td> 
                <td>{{ banco.email }}</td>                
            </tr>
            {% endfor %}		
	</tbody>
    </table>
    </div>        
{% endblock content %}

{% block javascripts %} 
     {{parent()}} 
    <script type="text/javascript" charset="utf-8">          
        $(document).ready( function () {               
            {# Se establece el formato de la tabla #} 
            var oTable = $('#listado').dataTable( {		
                "sDom": 'R<"H"lfr>t<"F"ip>',
		"bJQueryUI": true,
		"sPaginationType": "full_numbers", 
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }               
            } ); 
	});
    </script>  
{% endblock javascripts %}