{% extends 'CajaBancoBackendBundle::base.html.twig' %}    
{% block content %} 
    {# Este el el dialogo de edicion #}  
    <div id="dialog_form" title="Editar Cuenta Bancaria">
    <p>Atengase a los requerimientos.</p>  
    <form id="formID" action="{{path('ctabancaria_editar',{'id':cuentaBancaria.nCuenta})}}" method="post" {{ form_enctype(edit_form) }} class="formulario">
            {{ form_errors(edit_form) }}   

            {{ form_row(edit_form.nCuenta, {'label': 'N° de Cuenta' }) }} 
            {{ form_row(edit_form.banco)}}
            {{ form_row(edit_form.fApertura, {'label': 'Fecha de Apertura' }) }} 
            {{ form_row(edit_form.mActual, {'label': 'Monto Actual' }) }} 
            {{ form_row(edit_form.moneda)}} 
            {{ form_row(edit_form.estado, {'label': 'Estado' })}}

            {{ form_rest(edit_form) }}         
            <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <a class="button medium inset" href="{{ path('ctabancaria_main') }}">Cancelar</a> 
            </div>
   </form>
   </div>   
{% endblock content%}
    
{% block javascripts %}
    {{parent()}}     
    <script>    
        jQuery(document).ready(function(){
               //Dialogo de Edicion
           $( "#dialog_form" ).dialog({
                autoOpen: true,
		height: 480,
		width: 350,
		modal: true,
                resizable:false,
		close: function() {
                    allFields.val( "" ).dialog("close");
		}
            });	
            $("a.ui-dialog-titlebar-close" ).hide();    
            //Focus, Validaciones 
            $("#ctabancaria_form_nCuenta").focus();
            $("#ctabancaria_form_nCuenta").addClass("validate[required,custom[onlyNumberSp]]");            
            $("#ctabancaria_form_fApertura").addClass("validate[required,custom[datetime]]");
            $("#ctabancaria_form_fApertura").datetimepicker({dateFormat:'yy/mm/dd',});
            $("#ctabancaria_form_mActual").addClass("validate[required],custom[onlyNumberSp]");                                  
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"}); 
	});
    </script>  
{% endblock javascripts %}