{% block content %}     
    <form id="formID" action="{{ path('ctabancaria_insertar') }}" method="post" {{ form_enctype(form) }} class="formulario">
            {{ form_errors(form) }}   

            {{ form_row(form.nCuenta, {'label': 'N° de Cuenta' }) }} 
            {{ form_row(form.banco)}}
            {{ form_row(form.fApertura, {'label': 'Fecha de Apertura' }) }} 
            {{ form_row(form.mActual, {'label': 'Monto Actual' }) }} 
            {{ form_row(form.moneda)}}             
            {{ form_rest(form) }}         
            <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <button id="cancelar" class="medium inset">Cancelar</button> 
            </div>
    </form>      
{% endblock content%}
    
{% block javascripts %}    
    <script>    
        jQuery(document).ready(function(){
            //Focus, Validaciones 
            $("#ctabancaria_form_simple_nCuenta").focus();
            $("#ctabancaria_form_simple_nCuenta").addClass("validate[required,custom[onlyNumberSp]]");            
            $("#ctabancaria_form_simple_fApertura").addClass("validate[required,custom[datetime]]");
            $("#ctabancaria_form_simple_fApertura").datetimepicker({dateFormat:'yy/mm/dd',});
            $("#ctabancaria_form_simple_mActual").addClass("validate[required],custom[decimal.10.2]");
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"});  
	});
    </script>  
        
{% endblock javascripts%}

