{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block stylesheets %}  
    {{parent()}} 
    <link href="{{ asset('css/abm_ctabancaria.css') }}" type="text/css" rel="stylesheet" /> 
    <link href="{{ asset('validationEngine/css/validationEngine.jquery.css') }}" type="text/css" rel="stylesheet" /> 
    
{% endblock %}
    
{% block content %} 
    <h3 class="content_title">Cuentas Bancarias</h3> 

    <fieldset>
    <legend>Nuevo</legend>
    <form id="formID" action="{{ path('ctabancaria_insertar') }}" method="post" {{ form_enctype(form) }} class="inline_form">
            {{ form_errors(form) }}   

            {{ form_row(form.nCuenta, {'label': 'N° de Cuenta' }) }} 
            {{ form_row(form.banco)}}
            {{ form_row(form.fApertura, {'label': 'Fecha de Apertura' }) }} 
            {{ form_row(form.mActual, {'label': 'Monto Actual' }) }} 
            {{ form_row(form.moneda)}}
            {{ form_row(form.fCancelacion, {'label': 'Fecha de Cancelacion' }) }} 

            {{ form_rest(form) }}         
            <div>
                <button  type="submit" class="medium blue pill">Insertar</button>        
                <a href="{{ path('index') }}">
                    <span class="icon large red tooltip" title="Cancelar" style="padding:5px 0px 0px 10px;" data-icon="X"></span>
                </a>
            </div>
        </form>
    </fieldset>
    {# Se renderiza el listado llamando al controlador#}    
    {% render "CajaBancoBackendBundle:CuentaBancaria:listar"%} 
   
{% endblock content%}
    
{% block javascripts %}
    {{parent()}} 
    <script src="{{ asset('validationEngine/js/jquery.validationEngine.js') }}"></script> 
    <script src="{{ asset('validationEngine/js/languages/jquery.validationEngine-es.js') }}"></script> 
    <script>    
        jQuery(document).ready(function(){
            $("#ctabancaria_form_nCuenta").addClass("validate[required,custom[onlyNumberSp]]");
            $("#ctabancaria_form_fApertura").addClass("validate[required]");
            $("#ctabancaria_form_mActual").addClass("validate[required],custom[onlyNumberSp]");
            $("#ctabancaria_form_fCancelacion").addClass("validate[required]");          
            
            // binds form submission and fields to the validation engine
            jQuery("#formID").validationEngine('attach');
	});
    </script>  
        
{% endblock javascripts%}

