{% block content %} 
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>N° de Cuenta</th>
		<th>Banco</th>
                <th>Fecha de Apertura</th>
                <th>Monto Actual</th> 
		<th>Moneda</th>
                <th>Estado</th>
                <th>Acciones</th> 
            </tr>
	</thead>
	<tbody>
            {% for cuentaBancaria in cuentasBancarias %}
            <tr>
                <td>{{ cuentaBancaria.nCuenta }}</td>
                <td>{{ cuentaBancaria.banco }}</td>
                <td>{{ cuentaBancaria.fApertura|date("d/m/Y H:i")}}</td>
                <td>{{ cuentaBancaria.mActual }}</td> 
                <td>{{ cuentaBancaria.moneda }}</td> 
                <td>{{ cuentaBancaria.estado }}</td> 
                <td class="center">
                    <a href="{{	path('ctabancaria_editar',{'id':cuentaBancaria.nCuenta})}}"><span class="icon gray tooltip-left" title="Editar" data-icon="7"></span></a> 
                    <a style="padding-left:20px;"class="borrar" href="{{path('ctabancaria_borrar',{'id':cuentaBancaria.nCuenta})}}"><span class="icon gray tooltip-right" title="Borrar" data-icon="T"></span></a>
                </td>
            </tr>
            {% endfor %}		
	</tbody>	
    </table>
    </div>        
{% endblock content %}

{% block javascripts %}   
    <script type="text/javascript" charset="utf-8">          
      $(document).ready( function () {   
        $('#listado').dataTable( {
            "sDom": 'R<"H"lfr>t<"F"ip>',
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",               
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }  
        });
        $("a.borrar").click(function(){
            alert("Registro Borrado");                
        });
    });
    </script>  
{% endblock javascripts %}

