{% block content %}      
    <form id="formID" action="{{ path('caja_insertar') }}" method="post" {{ form_enctype(form) }} class="formulario">       
            {{ form_errors(form) }}   

            {{ form_row(form.nCaja, {'label': 'N° de Caja' }) }} 
            {{ form_row(form.denominacion)}} 
            {{ form_row(form.fCreacion, {'label': 'Fecha de Creacion' })}}          
            
             {{ form_rest(form) }}       
            <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <button id="cancelar" class="medium inset">Cancelar</button> 
            </div>
           
</form>  
{% endblock content%}
    
{% block javascripts %}     
    <script>    
        //Focus, Validaciones y Seleccion de Fecha
        jQuery(document).ready(function(){
            $("#caja_form_simple_nCaja").focus();
            $("#caja_form_simple_nCaja").addClass("validate[required,custom[onlyNumberSp]]");
            $("#caja_form_simple_denominacion").addClass("validate[required]");
            $( "#caja_form_simple_fCreacion" ).datetimepicker({dateFormat:'yy/mm/dd',});
            $("#caja_form_simple_fCreacion").addClass("validate[required,custom[datetime]]");
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"});            
	});        
    </script>        
{% endblock javascripts%}

