{% extends 'CajaBancoBackendBundle::base.html.twig' %}
{% block content %} 
     {# Este el el dialogo de edicion #}  
    <div id="dialog_form" title="Editar Banco">
    <p>Atengase a los requerimientos.</p>  
    <form id="formID" action="{{path('conceptoCaja_editar',{'id':conceptoCaja.id})}}" method="post" {{ form_enctype(edit_form) }} class="formulario">
            {{ form_errors(edit_form) }}   

            {{ form_row(edit_form.descripcion) }}   
            {{ form_row(edit_form.tipoMovimiento, {'label': 'Tipo de Movimiento' }) }} 
            {{ form_row(edit_form.cuenta) }}    
            {{ form_row(edit_form.contracuenta) }}

            {{ form_rest(edit_form) }}         
             <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <a class="button medium inset" href="{{ path('conceptoCaja_main') }}">Cancelar</a> 
            </div>
        </form>
    </div>  
{% endblock content%}
    
{% block javascripts %}
    {{parent()}} 
    <script>    
        jQuery(document).ready(function(){
            //Dialogo de Edicion
           $( "#dialog_form" ).dialog({
                autoOpen: true,
		height: 350,
		width: 350,
		modal: true,
                resizable:false,
		close: function() {
                    allFields.val( "" ).dialog("close");
		}
            });	
            $("a.ui-dialog-titlebar-close" ).hide();  
             $("#conceptoCaja_form_descripcion").focus();
            $("#conceptoCaja_form_descripcion").addClass("validate[required]"); 
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"}); 
	});
    </script> 
{% endblock javascripts %}