{% block content %}     
    <form id = "formID" action="{{ path('conceptoCaja_insertar') }}" method="post" {{ form_enctype(form) }} class="formulario">
            {{ form_errors(form) }}   

            {{ form_row(form.descripcion) }}   
            {{ form_row(form.tipoMovimiento, {'label': 'Tipo de Movimiento' }) }} 
            {{ form_row(form.cuenta) }}    
            {{ form_row(form.contracuenta) }}
            {{ form_row(form._token) }}
                     
            <div class="center">
                <button  type="submit" class="medium inset">Guardar</button> 
                <button id="cancelar" class="medium inset">Cancelar</button> 
            </div>
   </form>  
{% endblock content%}
    
{% block javascripts %}       
<script>    
        jQuery(document).ready(function(){                  
            $("#conceptoCaja_form_descripcion").focus();
            $("#conceptoCaja_form_descripcion").addClass("validate[required]"); 
            jQuery("#formID").validationEngine('attach', {promptPosition : "topLeft"});            
	});
    </script>  
{% endblock javascripts%}

